.BreadBottom {
    height: 13%;
    width: 60%;
    background: linear-gradient(#F08E4A, #e27b36);
    border-radius: 0 0 30px 30px;
    box-shadow: inset -15px 0 #c15711;
    margin: 1% auto;
}

.BreadTop {
    height: 20%;
    width: 60%;
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 0 0;
    box-shadow: inset -15px 0 #c15711;
    margin: 1% auto;
    position: relative;
}

.Meat {
    width: 60%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    margin: 1% auto;
    border-radius: 15px;
}

.Cheese {
    width: 70%;
    height: 4.5%;
    margin: 1% auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
}

.Salad {
    width: 65%;
    height: 7%;
    margin: 1% auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}

.Bacon {
    width: 60%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 1% auto;
}
