.main{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
}
.BurgerController{
    display: flex;
    margin: 5px 0 2%;
    text-align: center;
}
.label{
    font-size: 30px;
    font-family: 'Pangolin', cursive;
}
@media (max-width: 500px) {
    .label{
        font-size: 20px;
    }

}