.BurgerControllers{
    width: 100%;
    background-color: #cc6699;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
    font-weight: bold;
}
.ORDER{
    padding: 2%;
    margin: 1%;
    background: #e6b3cc;
    border: solid #993366;
    border-radius: 5px;
    color: #993366;
    outline: none;
    transition: all 0.3s;
}
