.BTN{
    padding: 2%;
    margin: 2%;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    outline: none;
}
.BTN:hover{
    cursor: pointer;
}
.BTN:active{
    box-shadow: none;
}
@media(max-width: 500px) {
    .BTN{
        font-size: 15px;
    }

}
