.Panel{
    position: fixed;
    top:15%;
    left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 500;
    border: solid darkgrey;
    background: white;
    width: 40%;
    text-align: left;
    padding: 1%;
    font-size: 25px;
    transition: all 0.5s;
}
@media (max-width: 500px) {
    .Panel {
        font-size: 16px;
        width: 85%;
        left: 2%;
    }
}