.Form{
    padding: 2%;
    width: 35%;
    margin: 2% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Span{
    margin-top: 2%;
    font-size: 20px;
}
.SignUp{
    color: #a71616;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 500px) {
    .Form {
        width: 80%;
    }
}
