.Elem{
    margin: 3% 1%;
}
.Input{
    font-family: 'Pangolin', cursive;
    border: none;
    border-bottom: solid grey 3px;
    outline: none;
    margin-bottom: 5px;
    width: 88%;
    font-size: 21px;
}
.Error{
    font-family: 'Pangolin', cursive;
    border: solid #ff4d4d 2px;
    outline: none;
    border-radius: 5px;
}