.Panel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
    width: 300px;
    height: 390px;
    font-size: 25px;
    text-align: left;
    padding: 4%;
    background: #f9ecf2;
}